cmd/main
stories-front
files/images/avatars/*
!files/images/avatars/default_avatar.png
files/images/banners/*
!files/images/banners/no-image.jpg
files/images/projects/*
!files/images/projects/no-image.jpg
